.mainCont{
    min-height: 100vh;
    width: 60% !important;
}
.btnCont{
    border-radius: 22px;
    background-color: rgb(227, 227, 227);
    border: 1px solid black;
}
.fetchBtn{
    background-color: rgb(0, 0, 56) !important;
    color: white !important;
    padding: 8px 25px !important;
    font-size: 27px !important;
    border-radius: 25px !important;
}
.fetchBtn:hover{
    background-color: rgb(0, 0, 100) !important;
}
.movieCont{
    margin: 15px 0px;
    padding: 10px 20px;
    background-color: rgb(227, 227, 227);
    border-radius: 22px;
    border: 1px solid black;
}
.movieTitle{
    color: Red;
    background-color: rgb(4, 4, 53);
    text-align: center;
    border-radius: 16px;
    padding: 10px 0px;
    margin: 0px 25px !important;
}
.movieDirector{
    margin: 20px 15px !important;
}
.movieText{
    color: rgb(14, 14, 93);
    font-size: 22px;
    margin: 0px 20px !important;
}
.loader{
    min-height: 70vh;
    margin: 0px;
}
.loader img{
    height: 200px;
    width: 200px;
    animation: rotation 3s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.formCont{
    background-color: rgb(227, 227, 227);
    border-radius: 25px;
    border: 1px solid black;
}
.formSubmit_btn{
    padding: 8px 36px !important;
    background-color: #050539 !important;
    /* display: block !important;
    margin: auto !important; */
    font-size: 25px !important;
    border-radius: 16px !important;
}
.formSubmit_btn:hover{
    background-color: rgb(10, 10, 95) !important;
}