.logo{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.logo:hover{
    color: rgb(224, 224, 224);
}
.navLink{
    text-decoration: none;
    margin: 0px 13px;
    font-size: 20px;
    color: white;
}
.navLink:hover,
.navLink:active{
    color: aqua;
}
.active{
    color: aqua !important;
}
.cartBtn{
    border: none !important;
    background-color: transparent !important;
    font-weight: "bolder";
    width: "fit-content"
}
.cartBtn_text{
    padding: 4px 14px;
    border: 2px solid rgb(113 243 245) !important;
    border-radius: 8px;
}
.cartBtn_num{
    color: aqua;
    font-weight: bolder;
    font-size: 21px;
    margin: 0px 4px;
}
.logoutBtn{
    background-color: transparent;
    border: none;
}